<%- include('header'); -%>
<body>
    <h1 id="heading" class="box"><%=list_name%> </h1>
    
    <form action="/" method="post" class="box">    
        
       <% for(var i=0;i<gern.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%=gern[i] %></p>
        </div>
        <%} %>
       <div class="item">
            <input type="text" name="work" autocomplete="off" >
            <button type="submit" name="button" value=<%=list_name%>>+</button>
        </div>
    </form>

    <%- include('footer'); -%>